
#header{
    height: 100px;
    width: 100%;
    background-color: #000000;
    position: fixed;
    z-index: 100;
    border-bottom: 2px solid orangered;

}
#body{
    background-image: url("../img/background_img.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;

}
h1{
    font-size: 18pt;
    font-weight: bolder;
    color: #000000;
    z-index: 50;
    padding-bottom: 10px;
    line-height: 1.1;
}
p{
    font-size: 14pt;
    font-weight: bolder;
    color: #000000;
    z-index: 50;
    line-height: 1.3;
}
.circle{
    z-index: 50;
    padding-right: 30px;
    padding-bottom: 10px;
}
.pop{
    padding-right: 15px;
}
button{
    z-index: 100;
}
#wrapper{
    top: 100px;
    bottom: 0;
    width: 100%;
    position: fixed;
    overflow: auto;
}

#content{
    max-width: 800px;
    margin: 0 auto;
}
.event_wrapper{
    max-width: 800px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #000000;
    position: relative;
    margin: 20px 0;
    padding: 15px;
}
.event{
   max-width: 800px;
    height: auto;
    position: relative;
    z-index: 20;
}

.left{
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
.right{
    display: inline-block;
    width: 19%;
    text-align: right;
    vertical-align: middle;
}
.view_more, .buy_ticket {
background: #FF4500;
    background-image: -webkit-linear-gradient(top, #FF4500, #f04000);
    background-image: -moz-linear-gradient(top, #FF4500, #f04000);
    background-image: -ms-linear-gradient(top, #FF4500, #f04000);
    background-image: -o-linear-gradient(top, #FF4500, #f04000);
    background-image: linear-gradient(to bottom, #FF4500, #f04000);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
    font-family: 'Poiret One', cursive;
    border-style: none;
    outline: none;
    color: #000000;
    font-size: 13pt;
    font-weight: bolder;
    padding: 4px 10px;
    text-decoration: none;
    cursor: pointer;
}

.view_more:hover {
    background: #FF4500;
    text-decoration: none;
}

.artist_div{
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid orangered;

}
.artists_info{
    display: inline-block;
    text-align: center;
    margin: 0 2px;

}
.image{
    height: 120px;
    max-width: 120px;
}
.val{
    display: none;
}
#spon{
    font-size: 40px;
    display: inline;
    float: left;
    color: white;
    margin-right: 250px;
    margin-top: 20px;
    margin-left: 30px;

}
.spontan{
    color: white;
    font-size: 20px;
    margin: 40px;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;


}

.spontan:hover{
    color: orangered;
}
